<!DOCTYPE html>
<html ng-app="RepoListerApp">

<head>
  <meta charset="utf-8">
  <title>Github Repo Lister Angular</title>
  <link href="css/style.css" type="text/css" rel="stylesheet"/>
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-controller="repoLister">

<div class="search">
  <input ng-model="username" type="text" class="search-input">
  <button ng-click="loadRepos()" class="search-btn">Search</button>
  <span class="result"> {{message}} </span>
</div>

<table class="repo_table">
  <thead>
  <tr>
    <th>Repo Name</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="repo in repoList">
    <td>{{repo.name}}</td>
  </tr>
  </tbody>
</table>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>

<script src="js/app.js" type="text/javascript"></script>

</body>

</html>