<!DOCTYPE html>
<html ng-app="RepoListerApp">

<head>
  <meta charset="utf-8">
  <title>Github Repo Lister Angular</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
</head>

<body ng-controller="repoLister">

<div class="search">
  <input ng-model="username" type="text" class="search-input">
  <button ng-click="loadRepos()" class="search-btn">Search</button>
  <span class="result"> {{message}} </span>
</div>

<table class="repo_table">
  <thead>
  <tr>
    <th>Repo Name</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="repo in repoList">
    <td>{{repo.name}}</td>
  </tr>
  </tbody>
</table>

<script src="js/app.js"></script>
</body>

</html>